<!DOCTYPE html>
<html lang="id">
<head>
    <!-- TODO: Ubah template ini agar menggunakan template inheritance dari base.html. 
    Buat bagian konten utama yang menampilkan profil fasilitator dengan:
    - nama
    - bio
    - program studi
    - NPM
    - email
    Data profil harus berasal dari context yang dikirim oleh view, bukan ditulis secara hardcode di template.
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruang Belajar</title>
</head>
<body>
</body>
</html>